# Dependencies
node_modules/

# Production build output
dist/
build/
.vercel/

# Environment files
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Testing coverage & cache
coverage/
.vitest/

# OS and Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
